*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body{
    height:665px;
    background-image: url('https://www.deviantart.com/0trinima0/art/Pokemon-Wallpaper-Poke-Ball-Theme-791084688.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin: 0 auto;
    text-align: center;
}

.imagen-fondo{
    height: 100vh;
    background-image: url("./imagen_fondo.png")
}